@import '@carbon/type/scss/styles';

.card-item {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    &__question {
        @include carbon--type-style('expressive-heading-06');
        text-align: center;
    }

    &__answer {
        @include carbon--type-style('body-long-02');
        margin: 20px 0;
    }

    &__category {
        background: #fff;
        margin-bottom: 5px;
    }
}