@import '@carbon/type/scss/styles';

.flash-card-item {
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    margin: 20px;
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
        background: #DDD;
    }

    &:hover {
        border-color: #BBB;
    }

    &__question {
        @include carbon--type-style('productive-heading-03');
        font-weight: 600;
    }

    &__answer {
        @include carbon--type-style('body-short-01');
        margin: 10px 0;
    }

    &__category {
        background: #fff;
        margin-bottom: 5px;
    }
}